<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ticketník.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Ticketník.Properties.Settings>
            <setting name="filePath" serializeAs="String">
                <value />
            </setting>
            <setting name="autosave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="minuty" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="lastSelected" serializeAs="String">
                <value />
            </setting>
            <setting name="velikost" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="umisteni" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="colPC" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="colID" serializeAs="String">
                <value>82</value>
            </setting>
            <setting name="colZak" serializeAs="String">
                <value>84</value>
            </setting>
            <setting name="colPop" serializeAs="String">
                <value>92</value>
            </setting>
            <setting name="colKon" serializeAs="String">
                <value>89</value>
            </setting>
            <setting name="colOd" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="colDo" serializeAs="String">
                <value>49</value>
            </setting>
            <setting name="colPau" serializeAs="String">
                <value>44</value>
            </setting>
            <setting name="colStav" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="colPoz" serializeAs="String">
                <value>149</value>
            </setting>
            <setting name="shortTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="probiha" serializeAs="String">
                <value>255, 255, 160</value>
            </setting>
            <setting name="ceka" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="odpoved" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="rdp" serializeAs="String">
                <value>Yellow</value>
            </setting>
            <setting name="vyreseno" serializeAs="String">
                <value>0, 200, 0</value>
            </setting>
            <setting name="updateCesta" serializeAs="String">
                <value>\\10.14.18.19\Shareforyou\tools\Ticketnik\Update</value>
            </setting>
            <setting name="timeLow" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="timeMid" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="timeOK" serializeAs="String">
                <value>0, 200, 0</value>
            </setting>
            <setting name="timeLong" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="pouzivatCasy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Jazyk" serializeAs="String">
                <value />
            </setting>
            <setting name="JazykCesta" serializeAs="String">
                <value />
            </setting>
            <setting name="colPCPoradi" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="colIDPoradi" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="colZakPoradi" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="colPopPoradi" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="colKonPoradi" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="colTerpPoradi" serializeAs="String">
                <value>6</value>
            </setting>
            <setting name="colTaskPoradi" serializeAs="String">
                <value>7</value>
            </setting>
            <setting name="colCasPoradi" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="colStavPoradi" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="colPozPoradi" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="prescas" serializeAs="String">
                <value>Fuchsia</value>
            </setting>
            <setting name="ZalozniUpdate" serializeAs="String">
                <value>https://github.com/Caesar008/Ticketnik/raw/master/Ticketn%C3%ADk/bin/Release</value>
            </setting>
            <setting name="NovyExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="pouzivatZalozniUpdate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lastUpdateNotif" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="onlineTerp" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="motiv" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ExportToMyTime" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="zruseno" serializeAs="String">
                <value>100, 150, 0</value>
            </setting>
            <setting name="prerazeno" serializeAs="String">
                <value>200, 200, 0</value>
            </setting>
        </Ticketník.Properties.Settings>
    </userSettings>
  <runtime>
  </runtime>
</configuration>
